.aside{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:12px 0;
}
.white_block{
  width:100%;
  height:100%;
  padding:50px;
  box-shadow: 2px 3px 10px 0.4px rgba(0,0,0,0.08);
  background-color: white;
  border-radius: 5px;
  margin:65px 0;
  overflow:hidden;
}
.picture_block{
  padding:0 50px;
}
a:hover{
  text-decoration: none;
}
.white_block_h3{
  font:20px "MariadPro Semibold";
  text-transform: uppercase;
  position: relative;
  margin-bottom: 45px;
  &:after{
    content:'';
    position: absolute;
    bottom:-24px;
    left:0;
    width: 100%;
    height:0;
    border:1px solid #ddd;
  }

}
.Tab{
  color:#ddd;
}
.white_block_ul a{
  font:16px "MariadPro Light";
  display: block;
  margin-bottom: 22px;
  &:last-of-type{
    margin-bottom: 0;
  }
}
.grey_blicks{
  display: flex;
  flex-wrap: wrap;

}
.brick_item{
  font:16px "Myriad Pro Regular";
  display: inline-block;
  height:100%;
  min-height:30px;
  background-color: #e7e7e7;
  padding:8px;
  margin:4px;
  border-radius: 3px;
  text-transform: uppercase;
  &:hover{
    background-color: #eee;
    border:1px solid #e7e7e7;
  }
}
.anonce_blocks{
  display: flex;
  flex-direction: column;
}
.anonce_item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-between;
  &:not(:last-of-type){
    margin-bottom: 28px;
  }
}
.item_picture{
  width:64px;
  height:51px;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  border-radius:3px;
  img{
    left:-20%;
  }

}
.item_text{
  width:60%;
  height:50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h5{
    font:13px "MariadPro Light";
    line-height: 1em;
    letter-spacing: -0.2px;
  }
}
.item_data{
  color:#b6b6b6;

}
.picture{
  position: relative;
  height:100%;
  img{
    width:100%;
    height:auto;
  }
}
.picture-shadow{
  position: absolute;
  height:100%;
  width:100%;
  background-image: linear-gradient(to right, $violet, $purple-tr);
  z-index: 10;
}
.picture_block_h3{
  font:18px "MyriadPro Bold";
  margin:50px;
}
.aside_a{
  color:#cd2638;
  font:16px "Myriad Pro Semibold";
  margin:-35px auto 35px;
  padding:15px;
  width:75%;
  text-align: left;
  display: block;
  border:1px solid transparent;
  transition:border-color 500ms, color 500ms;
  &:hover{
    color:$red;
    border-color:$red;
  }
  span{
    position: relative;
  }
  span:after{//arrow
    content: '\2192';
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right:-20px;
  }
}
