@media (max-width: 991px) {

  .aside {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .white_block {
    min-width: 150px;
    width: calc(50% - 20px);
    margin:10px;
    padding:10px;
  }
}
@media (max-width: 790px){
  .header__blog-info{
    height:auto;
    flex-direction: column;
  }
  .blog_info{
    flex-wrap:wrap-reverse;
    justify-content: space-around;
    p{
      margin:7px;
      width:50%;
    }
  }
  .circle{
    display: none;
  }
  .blog-author{
    margin-left: 0;
  }
}