$header_height:600px;
$footer_height:390px;
$white_transparent85:rgba(255,255,255,0.85);
$white_transparent33:rgba(255,255,255,0.33);
$red:#ac162c;
$rose:rgba(172, 22, 44, 0.5);
$violet: rgb(59, 22, 64);
$purple-tr: rgba(120, 76, 88, 0.8);