.wrapper {
  width: 100%;
  font: 12px "MariadPro Light"; }

a:hover {
  color: #ac162c; }

/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

li {
  display: inline-block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "MariadPro Light";
  src: url("../fonts/Myriad Pro Light/MyriadPro-Light.woff") format("woff"), url("../fonts/Myriad Pro Light/Myriad Pro Light.otf") format("otf"), url("../fonts/Myriad Pro Light/MyriadPro-Light.ttf") format("ttf"); }

@font-face {
  font-family: "MyriadPro Bold";
  src: url("../fonts/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MyriadPro Regular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "MariadPro Semibold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

.header {
  height: 600px;
  position: relative;
  color: white;
  background: url("../img/header_bg.png") no-repeat top center;
  background-size: cover; }
  .header a {
    color: rgba(255, 255, 255, 0.85); }
    .header a:hover {
      color: white; }

.header-shadow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 600px;
  background: rgba(0, 0, 0, 0.75);
  z-index: 0; }

.header_content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.header__h2 {
  color: white;
  font: 22px "MariadPro Semibold";
  border: none;
  border-left: 1px solid white;
  padding: 0 0 0 46px; }

.header__blog-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  height: 64px;
  align-items: flex-end; }

.blog_info {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.85);
  align-items: center; }

.blog_date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 110px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.33); }

.blog_date-data {
  font: 60px 'MariadPro Semibold';
  line-height: 1em; }

.blog_date-month-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px; }

.blog-stars {
  letter-spacing: 10px; }

.star-grey {
  color: rgba(255, 255, 255, 0.33); }

.circle {
  height: 30px;
  width: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  margin-right: 37px; }

.blog-reading-time {
  position: relative; }
  .blog-reading-time:before {
    content: '';
    position: absolute;
    opacity: 0.85;
    background: url("../img/sprite/spritesheet.png") no-repeat -5px -5px;
    width: 10px;
    height: 10px;
    left: -20px;
    top: 25%;
    transform: translateY(-50%);
    overflow: hidden; }

.blog-views {
  position: relative; }
  .blog-views:before {
    content: '';
    position: absolute;
    opacity: 0.85;
    top: 25%;
    transform: translateY(-50%);
    background: url("../img/sprite/spritesheet.png") no-repeat -5px -25px;
    left: -20px;
    width: 10px;
    height: 8px;
    overflow: hidden; }

.main {
  padding-top: 80px;
  max-width: 780px;
  overflow: hidden; }

.main-text {
  font: 16px 'MyriadPro Regular';
  margin-bottom: 25px;
  border: 1px solid transparent; }

.main_h3 {
  margin: 40px 0 60px 20px;
  font: 25px "MyriadPro Bold";
  position: relative; }
  .main_h3:before {
    content: '';
    height: 100%;
    border-left: 1px solid #ac162c;
    position: absolute;
    left: -20px; }

.main_h4 {
  font: 20px 'MyriadPro Bold';
  margin-bottom: 25px; }

.main__photo {
  width: 100%;
  max-height: 270px;
  overflow-y: hidden;
  position: relative;
  margin: 20px 0 50px;
  -webkit-margin-collapse: separate; }
  .main__photo-sizing {
    max-height: none;
    height: 100%; }
  .main__photo img {
    width: 100%;
    height: auto;
    position: relative;
    top: -30px; }
    .main__photo img.main__photo-sizing-img {
      top: 0; }

.red-text {
  color: #ac162c; }

.bold-text {
  font-family: "MyriadPro Bold", sans-serif; }

.text-20px {
  font-size: 20px; }

.main_ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-size: 16px;
  font-family: "MariadPro Regular", sans-serif;
  margin: 30px 0; }

.ul-square {
  -webkit-margin-collapse: separate; }
  .ul-square li {
    margin: 10px 0 10px 34px;
    position: relative; }
    .ul-square li:before {
      content: '';
      background: #ac162c;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 0.25em;
      left: -26px; }

.ul-dots li {
  margin: 10px 0 10px 68px;
  position: relative;
  letter-spacing: -0.3px; }
  .ul-dots li:before {
    content: '\2022';
    color: #ac162c;
    line-height: 0.5;
    text-align: center;
    transform: translateY(50%);
    width: 11px;
    height: 11px;
    border: 2px solid #ac162c;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: -26px; }

.aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 0; }

.white_block {
  width: 100%;
  height: 100%;
  padding: 50px;
  box-shadow: 2px 3px 10px 0.4px rgba(0, 0, 0, 0.08);
  background-color: white;
  border-radius: 5px;
  margin: 65px 0;
  overflow: hidden; }

.picture_block {
  padding: 0 50px; }

a:hover {
  text-decoration: none; }

.white_block_h3 {
  font: 20px "Myriad Pro Semibold";
  text-transform: uppercase;
  position: relative;
  margin-bottom: 45px; }
  .white_block_h3:after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 100%;
    height: 0;
    border: 1px solid #ddd; }

.Tab {
  color: #ddd; }

.white_block_ul a {
  font: 16px "MariadPro Light";
  display: block;
  margin-bottom: 22px; }
  .white_block_ul a:last-of-type {
    margin-bottom: 0; }

.grey_blicks {
  display: flex;
  flex-wrap: wrap; }

.brick_item {
  font: 16px "Myriad Pro Regular";
  display: inline-block;
  height: 100%;
  min-height: 30px;
  background-color: #e7e7e7;
  padding: 8px;
  margin: 4px;
  border-radius: 3px;
  text-transform: uppercase; }
  .brick_item:hover {
    background-color: #eee;
    border: 1px solid #e7e7e7; }

.anonce_blocks {
  display: flex;
  flex-direction: column; }

.anonce_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-between; }
  .anonce_item:not(:last-of-type) {
    margin-bottom: 28px; }

.item_picture {
  width: 64px;
  height: 51px;
  overflow: hidden;
  text-align: center;
  margin-right: 10px;
  border-radius: 3px; }
  .item_picture img {
    left: -20%; }

.item_text {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column; }
  .item_text h5 {
    font: 13px "MariadPro Light";
    line-height: 1em;
    letter-spacing: -0.2px; }

.item_data {
  color: #b6b6b6; }

.picture {
  position: relative;
  height: 100%; }
  .picture img {
    width: 100%;
    height: auto; }

.picture-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #3b1640, rgba(120, 76, 88, 0.8));
  z-index: 10; }

.picture_block_h3 {
  font: 18px "MyriadPro Bold";
  margin: 50px; }

.aside_a {
  color: #cd2638;
  font: 16px "Myriad Pro Semibold";
  margin: -35px auto 35px;
  padding: 15px;
  width: 75%;
  text-align: left;
  display: block;
  border: 1px solid transparent;
  transition: border-color 500ms, color 500ms; }
  .aside_a:hover {
    color: #ac162c;
    border-color: #ac162c; }
  .aside_a span {
    position: relative; }
  .aside_a span:after {
    content: '\2192';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px; }

.footer_blog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -25px;
  width: 100%;
  height: 160px;
  align-items: center; }

.footer_up-text {
  font: 14px "Myriad Pro Semibold"; }

.footer_a {
  transition: font-size 500ms, color 500ms; }
  .footer_a:hover {
    color: #ac162c;
    text-decoration: none;
    font-size: 16px; }

.blog-ration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px; }

.blog-rating-stars {
  color: #ac162c;
  letter-spacing: 5px;
  font-size: 19px;
  transition: color 500ms; }
  .blog-rating-stars .rose {
    color: rgba(172, 22, 44, 0.5); }
  .blog-rating-stars i.rose-half {
    position: relative; }
    .blog-rating-stars i.rose-half:after {
      content: '\f089';
      position: absolute;
      right: -25%;
      transform: scaleX(-1);
      color: rgba(172, 22, 44, 0.5); }
  .blog-rating-stars:hover {
    color: violet; }

.share_social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 480px;
  margin-right: 15px; }

.social__block {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.social {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 3px 10px 0.4px rgba(0, 0, 0, 0.08);
  margin-left: 15px;
  padding-top: 10px;
  transition: color 250ms, box-shadow 500ms; }
  .social:hover {
    color: #ac162c;
    box-shadow: 2px 3px 10px 0.4px rgba(0, 0, 0, 0.3); }

.social__block {
  display: flex;
  flex-direction: row;
  flex-shrink: 1; }

.footer_below {
  position: relative;
  background: url("../img/img_company.png") no-repeat top right;
  background-size: contain;
  height: 390px;
  width: 100%; }

.footer_content {
  width: 100%;
  height: 390px;
  position: relative;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #3b1640, rgba(120, 76, 88, 0.8)); }

.button_footer {
  width: 200px;
  height: 50px;
  font: 18px "MariadPro Light";
  color: white;
  background: transparent;
  border: 1px solid white;
  position: relative;
  cursor: pointer;
  transition: background-color 250ms; }
  .button_footer:after {
    content: '\2192';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px; }
  .button_footer:hover {
    background: rgba(172, 22, 44, 0.5); }

.footer_h2 {
  color: white;
  min-width: 550px;
  font: 2rem "MariadPro Semibold";
  padding: 0;
  text-transform: uppercase; }

.footer_text {
  font: 22px "MariadPro Light";
  color: white;
  text-transform: uppercase;
  margin: 30px 0 40px; }

.footer_content-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; }

@media (max-width: 991px) {
  .aside {
    flex-direction: row;
    flex-wrap: wrap; }
  .white_block {
    min-width: 150px;
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px; } }

@media (max-width: 790px) {
  .header__blog-info {
    height: auto;
    flex-direction: column; }
  .blog_info {
    flex-wrap: wrap-reverse;
    justify-content: space-around; }
    .blog_info p {
      margin: 7px;
      width: 50%; }
  .circle {
    display: none; } }
