aside.aside
    .white_block
        h3.white_block_h3 Categiries
        .white_block_content
            .white_block_ul
                a(href="#").item Article
                a(href="#").item Business analytic
                a(href="#").item Transfer pricing
                a(href="#").item Career
    .white_block
        h3.white_block_h3 blog tegs
        .white_block_content
                .grey_blicks
                    a(href="#").brick_item Transfer pricing
                    a(href="#").brick_item Taxation
                    a(href="#").brick_item control
                    a(href="#").brick_item 2018
                    a(href="#").brick_item money
    .white_block
        h3.white_block_h3
            a(href="#").activeTab Popular &nbsp;
            a(href="#").Tab New
        white_block_content
            .anonce_blocks
                .anonce_item
                    .item_picture
                        img(src="img/popular/img1.png" title="img1" alt="img1")
                    .item_text
                        h5 Comparison methods in transfer pricing
                        .item_data April 2018
                .anonce_item
                    .item_picture
                        img(src="img/popular/img2.png" title="img1" alt="img1")
                    .item_text
                        h5 Which portion of the analytics should be ...
                        .item_data Junuary 2018
                .anonce_item
                    .item_picture
                        img(src="img/popular/img3.png" title="img1" alt="img1")
                    .item_text
                        h5 Contact center: luxury or necessity?
                        .item_data March 2018
                .anonce_item
                    .item_picture
                        img(src="img/popular/img4.png" title="img1" alt="img1")
                    .item_text
                        h5 Aim opans its academy
                        .item_data January 2018

    .white_block.picture_block.p-0
        .picture
            .picture-shadow
            img(src="img/img_company.png")
        h3.picture_block_h3 ЧИ ПІДПАДАЄ ВАША КОМПАНІЯ ПІД ТРАНСФЕРТНЕ ЦІНОУТВОРЕННЯ

        a(href="#").aside_a
            span Пройти перевірку