.footer_content
    .row
        .offset-1.col-10.footer_content-center
            h2.footer_h2 Як вдало поєднати продажі і маркетинг
                br
                |у вашій команді?
            p.footer_text Отримайте пошагову інструкцію
            button(type="button").button_footer Дізнатися
