section.footer_blog
    .blog-ration
        a(href="#" target="rating").footer_up-text.footer_a Rate the blog:&nbsp;
        a(href="#" target="rating").blog-rating-stars
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star-half.rose-half.mr-2
            i.fas.fa-star.rose
    .share_social
        a(href="#").footer_up-text.footer_a#like-it Like it &nbsp;
        p.footer_up-text.social__block Share in social networks:
            a(href="#").social.social-fb
                i.fab.fa-facebook-f
            a(href="#").social.social-twitt
                i.fab.fa-twitter
            a(href="#").social.social-gplus
                    i.fab.fa-google-plus-g
            a(href="#").social.social-in
                i.fab.fa-linkedin-in


