header.header
    .header-shadow
    .container
        .row
               .header_content
                    .bread_crubms
                            a(href="#") Blog
                            span &nbsp;/ &nbsp;
                            a(href="#") Business analytics
                    .header__h2
                        h2.col-12.col-lg-9 WHO IS REQUIRED TO SUBMIT CONTROLLED TRANSACTIONS REPORT AND PREPARE TRANSFER PRICING DOCUMENTATION?
                    .header__blog-info
                        .blog_info.col-12.col-lg-9
                            .circle
                            p.blog-author Author:&nbsp;
                                span#blog-author Oleksandra Konopatska
                            p.blog-reading-time Reading time:&nbsp;
                                span#readingtime 8min
                            p.blog-views Views:&nbsp;
                                span#views 346
                            p.blog-stars
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star
                                i.fas.fa-star.star-grey
                        .blog_date.col
                            p.blog_date-data 02
                            p.blog_date-month-year
                                span.blog_date-month June
                                span.blog_date-year 2018
