main.main
    p.main-text If you are having an urgent need to prepare transfer pricing documentation, you have to be ready for a time-consuming process. The amount and complexity of work associated with it can easily turn this task into a real &nbsp;
        span.red-text.bold-text pain in the neck.
    p.main-text However, first you have to figure out whether you actually fall within the scope of the Article 39 or Paragraph 140.5.4 of the of the Tax Code of Ukraine and whether transfer pricing is something you have to deal with in the first place.
    h3.main_h3 You are expected to submit transfer pricing documentation, if your transactions are recognized as controlled.
    p.main-text The very definition of controlled transactions has its hidden pitfalls, which is why it is hard to tackle this matter right away, especially against the backdrop of the ever-changing terms of the tax legislation.

    p.main-text.text-margin-bottom In particular, in 2017-2018, changes were made both to the threshold amount of transactions involving counterparty and the requirements as to the taxpayer’s minimum net profit. Aside from that, some of the criteria for recognizing transactions as controlled were extended.

    .main__photo
        img(src="img/img_bridge.png" title="some picture" alt="a picture")
    h4.main_h4 Let's start off with the latter and try figure out when transactions are not deemed controlled.
    p.main-text It stands to mention that the sharp eye of the State Fiscal Service has zero interest in "small" transactions: for the transaction to be deemed controlled, the sum of transactions involving one counterparty (by direct agreements or through intermediaries that perform no major functions within the framework of the agreement) shall start from UAH 10 million in 2017-2018 (or UAH 5 million in 2015-2016).
    p.main-text An additional criterion for recognizing transactions as controlled is the total amount of taxpayer's income resulting from all types of activities. In 2015-2016, the threshold amount was UAH 50 million and has been increased to UAH
    h4.main_h4 Companies having smaller revenues cannot have controlled transactions.
    p.main-text
        span.bold-text The counterparty &nbsp;
        | is another crucial aspect when it comes to controlled transaction. Below is a list of criteria, according to which the transaction is recognized as controlled in 2018, obviously in case of the relevant sum of transactions and total amount of taxpayer’s income.
    ul.main_ul.ul-square
        li.main_ul-item Counterparty is an affiliated person
        li.main_ul-item Counterparty is a commission agent
        li.main_ul-item Counterparty is located in the country with low profit tax
        li.main_ul-item Counterparty’s legal form of organization exempts it from profit tax
    p.main-text
        span.bold-text.text-20px Please note! &nbsp;
        | The list of given criteria is for the year 2018. The terms and conditions with respect to the previous years may differ.
    h3.main_h3 Transfer pricing: the price of the violation
    .main__photo.main__photo-sizing
        img.main__photo-sizing-img(src="img/infografica.png" title="infograph" alt="infografica")
    h4.main_h4.m-0 So, let’s sum up.
    p.main-text Your transaction is not deemed controlled, if at least one of the following criteria is met:
    ul.main_ul.ul-dots
        li.main_ul-item The total amount of taxpayer's income for the year does not exceed UAH 150 million;
        li.main_ul-item Volume of transaction involving a non-resident does not exceed UAH 10 million;
        li.main_ul-item The counterparty does not meet any of the options given in the table above.
    p.main-text.bold-text However, even if your transaction is not controlled, it does not mean that you will avoid having to prepare transfer pricing documentation altogether.
    p.main-text Pursuant to Paragraph 140.5.4 of the Tax Code of Ukraine, you are required to submit documentation regarding transactions which are not recognized as controlled, should they involve counterparties:
    ul.main_ul.ul-dots
        li.main_ul-item based in the countries with low profit tax (from the relevant list approved by the Cabinet of Ministers of Ukraine);
        li.main_ul-item that have legal form of organization which implies payment of profit tax in a country where the counterparty is a resident
        li.main_ul-item the counterparty is a non-profit organization or state-financed organization and is going to provide goods /
            span.red-text services &nbsp;
            |worth UAH 93,075 UAH and more in the course of 2018.
    p.main-text
        span.bold-text In all such instances, adjusting controlled transaction’s price
        |&nbsp; by the taxpayer and increasing the income up to a figure of 30% of the invoiced value of the transaction can serve as an alternative to documentation preparation. Traditionally, the revenues should be increased only with respect to very small transactions (those amounting up to UAH 150-200 thousand). Should transactions involving the counterparty exceed this amount, it would be cheaper to place an order for
        span.bold-text &nbsp; preparation of transfer pricing documentation.


